@model ProyectoCSharp.Libreria.Modelos.Persona

@{
    ViewBag.Title = "Detalles de la Persona";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Persona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Identificacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EsEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sueldo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sueldo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Identificacion }) |
    @Html.ActionLink("Regresar", "Index")
</p>
