@using ProyectoFacturas.Core.Modelos

@model IEnumerable<IGrouping<DateTime, Factura>>

@{
    ViewBag.Title = "Reporte Consolidado por Fechas";
}

<h2>@ViewBag.Title</h2>
<p>
    Reporte de facturas consolidado por fecha de emisi&oacute;n.
    Generado en fecha @DateTime.Now.ToString()
</p>

<div class="seccion-print text-right">
    <button class="btn btn-default" onclick="window.print()">
        Imprimir
    </button>
</div>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>Número de Factura</th>
            <th>Monto</th>
            <th>Total</th>
            <th>Cliente</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var grupo in Model)
        {
            <tr>
                <th colspan="4" class="table-header">
                    @grupo.Key.ToString("dddd, dd \\d\\e MMMM \\d\\e\\l yyyy")
                </th>
            </tr>
            foreach (var factura in grupo)
            {
                <tr>
                    <td>@factura.IdFormato</td>
                    <td>@factura.Monto.ToString("N2")</td>
                    <td>@factura.MontoTotal.ToString("N2")</td>
                    <td>@factura.Cliente.Nombre</td>
                </tr>
            }
            <tr>
                <td>Total facturado:</td>
                <th>@grupo.Sum(f => f.Monto).ToString("N2")</th>
                <th>@grupo.Sum(f => f.MontoTotal).ToString("N2")</th>
                <td></td>
            </tr>
        }
    </tbody>
</table>